* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
#content-wrapper {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1.5fr 1fr 8fr;
  background-color: #f0f0f0;
}
#header {
  color: green;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 100%;
}
#title {
  color: red;
}
#external-icons,
img {
  height: 50%;
}
#menu {
}
#content {
}
